.container {
  margin-top: 50px;
  font-family: "Roboto Mono", monospace;
  width: fit-content;
  height: fit-content;
  padding: 30px;
  background-color: var(--very-dark-blue-cardbg);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
}

form {
  display: flex;
  flex-direction: column;
}

#name {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

#email {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

#message {
  margin-top: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
}

.cta {
  margin-top: 20px;
  font-weight: 700;
  color: white;
  background-color: var(--soft-blue);
  width: 120px;
  height: 50px;
  border-radius: 35px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 8px;
  letter-spacing: 1px;
}

.cta:hover {
  transition: all 300ms ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 10px;
  background-color: white;
  color: var(--soft-blue);
}

.cta:active {
  box-shadow: rgba(0, 0, 0, 0.65) 0px 7px 12px;
}
